<form action="/students/<%=@student.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

<label class="switch">
  <input type="checkbox" name="student[active]" value="<%=@student.active%>">
  <span class="slider round"></span>
</label>